# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Docker
*.pid